body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to right, #d75069, #ab4b77, #7a4974, #4f4260, #343642);
  }
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 690px;
    width: 30pc;
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-body {

    padding: 20px;
    overflow: auto;
  }
  
  .card p {
    margin: 0;
  }
  
  .center {
    text-align: center;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #d75069;
    border-color: #d75069;
  }
  
  .btn:hover {
    color: #fff;
    background-color: #d75069;
    border-color: #f54968;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn:active {
    color: #fff;
    background-color: #d75069;
    border-color: #d75069;
  }